@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.widget{
   height: 10px;
}

.dropped-widget{
  height: 14px;
  width: 90px;
  display: inline-block;
}


.grid {
  position: relative;
}

.image {
  transition: transform 1s linear;
}

.animate {
  animation: image 4s alternate infinite;
}

@keyframes image {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(200px);
  }
}

.playButton {
  margin-top: 10px;
}

.bulb{
  margin-left: 530px;
}